#contenido-1{
  width: 300px;
  height: 155%;
 background-color: transparent;
  margin-top: 10px;
  padding: 50px;
  top: -570px;
 position: relative;
  flex-direction: column;
  left: 10%;
}


.container-fluid {
  width: 100%;
  position: relative;
  top: 0px;
  align-items: center;
  left: 170px;
}

.porta{
  width: 400px;
  height: 330px;
  position: relative;
  border-radius: 200px;
  top: -130px;
  left: 60px;
}


.porta2{
  width: 350px;
  position: relative;
  border-radius: 200px;
  top: -150px;
  left: 650px;
}

.card {
  height: 300px;
}


#typed-text {
  width: 500px;
  color: #171212;
  font-size: 25px;
  font-weight: 600;
  position: relative;
  top: -10px;
  left: -130px;
}

h2{
  font-size: 300px;
  color: #fff;
}

#primer-contenido {
  position: relative;
  background-color: transparent;
  width: 600px;
  height: 300px;
  top: -600px;
  left: -100px;
}


#animation {
  position: relative;
  width: 500px;
  left: 500px;
  top: -480px;
}


h4 {
  color: #ffffff;
}

#perfil {
  position: absolute;
  width: 250px;
  height: 250px;
  margin-top: 30px;
  margin-left: 50px;
  top: 80px;
  border-radius: 50%; 
  left: -150px;
  object-fit: cover; 
}


p {
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  position: relative;
  top: -10px;
  font-weight: 600;
}




.nav-item{
  width: 200px;
  position: relative;
  font-size: 25px;
  left: -80px;
  border-radius: white;
  row-gap: 20px;
}


.navbar-nav {
  position: relative;
  width: 90%;
  height: 60px;
  left: 170px;
  top: 30px;
}


.menu {
  position: fixed;
  top: 10px; 
  left: 10px; 
  font-size: 35px;
  color: #fff;
  z-index: 999; 
}



.navbar {
  display: flex;
  align-items: center;
  position: fixed;  
  top: 5%;           
  width: 100%;      
  z-index: 10;      
}



.navbar-brand {
  flex-grow: 1;
}


.nav2 {
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 10px;
  box-shadow: 0 0 5px rgba(231, 227, 227, 0.2);
}


.redes {
  position: relative;
  left: 2px;
  padding: 4px;
  cursor: pointer;
  animation: slide-bottom 0.5s linear both;
  font-size: 50px;
  margin: 0 10px;
  border-color: rgb(244, 218, 218);
}


.redes:hover {
  transform: scale(2.0); /* Escala del 110% al pasar el cursor */
}

.fa-facebook,
.fa-telegram,
.fa-whatsapp,
.fa-linkedin,
.fa-instagram,
.fa-twitter,
.fa-github {
  animation: scale-up-bottom 0.5s; /* Transición suave del efecto de escala */
}



.container-fluid {
  width: 100%;
  top: 0px;
}



#contenido-2,
#contenido-3,
#contenido-4,
#contenido-5 {
  display: none;
}

#animation3 {
  position: relative;
  width: 450px;
  left: -600px;
  top: -1000px;
}

.contenedor-imagenes {
  position: relative;
  width: 80%;
  height: 500px;
  left: 15%;
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 3 columnas con ancho igual */
  gap: 10px; /* Espacio entre las imágenes */
  background-color: transparent;
  top: -500px;
}

.leng {
  width: 100px;
  height: 100px;
}


#contenido-2{
  width: 200px;
  height: 100px;
 background-color: transparent;
  margin-top: 10px;
  border-radius: 10px;
  padding: 50px;
  top: -200px;
 position: relative;
  flex-direction: column;
  left: 50%;
}


#contenido-3{
  position: relative;
  width: 100%;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-gap: 80px 120px; 
  justify-content: center;
  background-color: transparent;
  margin-top: 100px;
  margin-bottom: 100px;
  top: -900px;
}

#contenido-4{
  position: relative;
  width: 90%;
  height: 80%;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-gap: 80px 120px; 
  justify-content: center;
  background-color: transparent;
  margin-top: 150px;
  margin-bottom: 80px;
  top: -900px;
}


#contenido-5 {
  position: relative;
  width: 90%;
  height: 80%;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-gap: 80px 120px; 
  justify-content: center;
  background-color: transparent;
  margin-top: 80px;
  margin-bottom: 80px;
  top: -900px;
}

.row, .row2, .row3, .row4 {
  position: relative;
  left: 400px;
  width: 100%;
  max-width: 400px;
  background-color: transparent;
  border-radius: 1rem;
  top: -350px;
}

.card2 {
  width: 100%;
  transition: transform 0.3s ease;
  margin-top: 10px;
}

.card2:hover {
  transform: scale(1.05); /* Efecto de zoom al pasar el mouse */
}

.web {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.row5, .row6, .row7, .row8 {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: transparent;
  border-radius: 1rem;
  border-color: rgb(236, 232, 232);
  padding-bottom: 5%;
}

.row5 {
  left: 500px;
  top: -360px;
}

.row6 {
  left: 500px;
  top: -320px;
}

.row7 {
  left: 840px;
  top: -760px;
}

.row8 {
  left: 840px;
  top: -720px;
}


#animation4 {
  position: relative;
  width: 350px;
  top: 150px;
}

#animation5{
  position: relative;
  width: 350px;
  top: 150px;
}

#animation6{
  position: relative;
  width: 350px;
  top: 150px;
  left: 5px;
}


.web {
  width: 280px;
  transition: transform 0.3s;
  position: relative;
  
}

.web.active {
  transform: scale(1.5) translate(-50%, -50%);
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  cursor: zoom-out;
}

/* Ocultar en pantallas grandes */
.menu, .porta_p {
  display: none;
}

/* Mostrar solo en móviles */
@media (max-width: 767px) {
  .menu, .porta_p {
    display: block;
  }
}

/*@media (max-width: 768px) {
  #contenido-1 {
      display: none !important;
  }
}*/

@media (max-width: 768px) {
  #contenido-1 {
    display: flex;
    position: relative;
    width: 88%;
    height: 70%;
    top: -1250px;
    left: -50px;
  }
}

@media (max-width: 767px) {
  #perfil {
    display: flex;
    top: 38vh;
    width: 28vh;
    left: 11%;
  }

  #animation, .porta2, .container-fluid, #primer-contenido, .porta, #animation3, #animation4, #animation5, #animation6 {
    display: none;
  }

  .nav2 {
    position: fixed;
    top: 2vh;
    left: -1vh;
  }


  .redes {
    font-size: 3.5vh;
    border-color: #0a0808;
    left: 0vh;
  }
  .menu {
    position: relative;
    width: 30vh;
    height: 30vh;
    left: 10%;
    top: -35vh;
  }

  .nav-item {
    left: 6vh;
  }

  .porta {
    position: absolute;
    width: 90%;
    left: 2.5vh;
    top: 10vh;
  }

  .porta_p {
    position: absolute;
    width: 90%;
    left: 3vh;
    top: 0vh;
  }

  .porta2 {
    position: relative;
    width: 90%;
    left: 3vh;
    top: 30vh;
  }

#typed-text {
  text-align: center;
  color: #fff;
  font-size: 2.1vh;
  font-weight: 500;
  position: relative;
  top: 30vh;
  left: 6vh;
  width: 80%;
}


  /*.card-text {
    position: relative;
    font-size: 20px;
    border-color: #000;
    font-weight: 700;
    left: 12%;
  }*/

  .menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    transition: background-color 0.2s;
  }


  .menu li h1 {
    margin-top: 10px; 
  }

  h2 {
    color: rgb(243, 239, 239);
    font-weight: 600;
  }

  h1 {
    color: rgb(196, 195, 195);
    font-weight: 600;
  }


  #contenido-2 {
    position: relative;
    width: 100%;
    top: -95vh;
    left: 40px;
    padding: 10px;
    transform: translateX(-50%);
  }

  #contenido-4, #contenido-5{
    position: relative;
    width: 90%;
    height: 100px;
    top: -100vh;
    left: 10px;
  }

  .leng {
    position: relative;
    width: 80px;
    height: 80px;
    bottom: -5vh;
    right: 30px;
  }
  .contenedor-imagenes {
    height: 250px;
    padding: 5px;
    gap: 10px;
    display: grid;
    top: -30vh;
  }

  .row, .row2, .row3, .row4 {
    position: relative;
    width: 22vh;
    height: 20vh;
    background-color: transparent;
    border-radius: 1rem;
    border-color: rgb(236, 232, 232);
    padding-bottom: 5%;
  }

  .row5, .row6, .row7, .row8 {
    position: relative;
    width: 22vh;
    height: 18vh;
  }

  .row {
    left: -6vh;
    top: -25vh;
  }
  
  .row2 {
    left: 17vh;
    top: -45vh;
  }
  
  .row3 {
    left: -6vh;
    top: -50vh;
  }
  
  .row4 {
    left: 17vh;
    top: -70vh;
  }

  .row5 {
    left: -5vh;
    top: -25vh;
  }
  
  .row6 {
    left: 18vh;
    top: -43vh;
  }
  
  .row7 {
    left: -5vh;
    top: -38vh;
  }
  
  .row8 {
    left: 18vh;
    top: -56vh;
  }
  
}



@media (max-width: 767px) {
  .web {
    width: 20vh;
    height: 12vh;
  }
  }

  @media (max-width: 768px) {
    .porta {
        display: block !important;
    }

    #contenido-2 {
      position: relative;
      width: 100%;
      top: -85vh;
      left: 22vh;
      padding: 10px;
      transform: translateX(-50%);
    }

    #contenido-3{
      position: relative;
      width: 70%;
      height: 48%;
      padding: 50px;
      top: -100vh;
      display: grid;
      grid-template-columns: repeat(2, 1fr); 
      grid-gap: 80px 120px; 
      justify-content: center;
      background-color: transparent;
      margin-top: 100px;
      margin-bottom: 100px;
    }


      #contenido-5, #contenido-4 {
        display: flex;
        top: -100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 75%;
        height: 30%;
        gap: 15px; /* Espaciado entre elementos */
      }
    
      .card2 {
        width: 80%; /* Ajustar tamaño de las tarjetas */
        max-width: 300px; /* Evita que se agranden demasiado */
        margin-bottom: 10px;
        text-align: center;
      }
    
      .web {
        width: 100%; /* Ajustar las imágenes */
        height: auto;
        border-radius: 10px;
      }

      .row, .row2, .row3, .row4 {
        position: relative;
        width: 22vh;
        height: 20vh;
        background-color: transparent;
        border-radius: 1rem;
        border-color: rgb(236, 232, 232);
        padding-bottom: 5%;
      }
  

      .row {
        left: -4vh;
        top: -24vh;
      }
      
      .row2 {
        left: 17vh;
        top: -47vh;
      }
      
      .row3 {
        left: -4vh;
        top: -50vh;
      }
      
      .row4 {
        left: 17vh;
        top: -73vh;
      }
    
      .row5 {
        left: -5vh;
        top: -25vh;
      }
      
      .row6 {
        left: 18vh;
        top: -46vh;
      }
      
      .row7 {
        left: -5vh;
        top: -38vh;
      }
      
      .row8 {
        left: 18vh;
        top: -48vh;
      }
  }


 
  